h1{
    text-align: center;
    color: blue;
    font-size: 45px;
}
h2{
    color: rgb(217, 0, 255);
    text-align: center;
    font-size: 35px;
}
p{
    text-align: center;
  color: blueviolet;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cachorro{
    text-align: center;
}
body{
    background-color: rgb(153, 225, 249);
}
nav{
    text-align: left;
}